* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#wrap {
    width: 100%;
    height: 100%;
}

.top_btn {
    z-index: 500;
    width: 100px;
    height: 100px;
    background-color: purple;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#header_wrap {
    
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ddd
    
}

#header {
    margin: 0 auto;
    height: 80px;
    width: 1080px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#logo > a > img {
    width: 116px;
    height: 20px;
}


#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 630px;
}

#menu > li {
    font-size: 15px;
    line-height: 80px
}

#menu > li > a {
    position: relative;
}

#menu > li > a::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 2px;
    width: 0;
    background: black;
    transition: all .3s;
}
#menu > li:hover > a::after {
    width: 100%;
}

#menu > li:hover > a {
    text-decoration: underline;
}

#menu > li:nth-child(6) {
    height: 80px;
    box-sizing: border-box;
    padding: 0 20px;
}

#menu > li:nth-child(6) > a {
    
}

#menu > li:nth-child(5) > a {
    background: #ffe400;
    border-radius: 50px;
    padding: 13px 15px;

}

/* 2차 메뉴 구현 */

#menu > li > div {
    position: absolute;
    left: 0;
    height: 400px;
    background-color: wheat;
    width: 100%;
    transform: translateY(1px);
    display: none;
    z-index: 5;
}

#menu > li:hover > div {
    display: block;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    width: 1080px;
    margin: 0 auto;
    height: 400px;
}

.flex > li > a {

}

.flex > li > ul > li {
    height: 50px;
}

/* 2차 메뉴 구현 끝 */

/* 비주얼 시작  */
#visual_wrap {
    width: 100%;
    height: 900px;
    
}

#visual {
    margin: 0 auto;
    background-image: url(https://www.kakaobank.com/static/images/web/renewal/main-bg3.png);
    background-size: contain;
    max-width: 1200px;
    background-repeat: no-repeat;
    z-index: 2;
    height: 900px; 
    position: relative;

}

#visual_background {
    background-color: #ffef6b;
    width: 100%;
    height: 720px;
    position: absolute;
    z-index: 1;
}

.tex_main {
    position: absolute;
    top: 135px;
    left: 90px;
    font-weight: bold;
    font-size: 49px;
    line-height: 1.4;
    color: black;
}

.tex_sub {
    position: absolute;
    top: 290px;
    left: 92px;
    font-size: 16px;
    line-height: 1.95;
    color: black;
    opacity: .7;
}

.tex_sub2 {
    position: absolute;
    top: 365px;
    left: 92px;
    font-size: 16px;
    line-height: 1.95;
    color: black;
    opacity: .7;
}

.link_store {
    overflow: hidden;
    position: absolute;
    top: 480px;
    margin-left: 85px;
}

.link_store > li {
    width: 178px;
    height: 60px;
    padding: 0 6px;
    float: left;
}
/* 비주얼 끝  */

/* 컨텐츠 1~5 시작 */

.contents_box1 {
    min-height: 500px;
    display: flex;
    width: 1080px;
    margin: 0 auto;
}

.contents_box1 > div:first-child {
    width: 55%;
}

.contents_box1 > div:first-child > img {
    width: 473px;
}

.contents_box1 > div:last-child {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contents_box1 > div:last-child > h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}

.contents_box1 > div:last-child > p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #666;
}

.contents_box1 > div:last-child > .cont_btn1 {
    top: 438px;
    left: 50%;
    margin-top: 30px;
}
.contents_box1 > div:last-child > .cont_btn1 > .link_bank {
    display: block;
    background-color: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    color: black;
    border-radius: 10px;
    text-align: center;
}


.contents_between {
    height: 32px;
    background-color: #fafafa;
}

.contents_box2 {
    min-height: 500px;
    display: flex;
    width: 1080px;
    margin: 0 auto;
}

.contents_box2 > div:first-child {
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contents_box2 > div:first-child > h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}

.contents_box2 > div:first-child > p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #666;
}

.contents_box2 > div:first-child > img {
    width: 440px;
    margin: 142px 0 0 -8px;
    position: relative;
}

.contents_box2 > article > img {
    top: 20px;
    left: 50%;
    width: 409px;
    margin-left: 120px;
}

.invisible {
    opacity: 0;
    transition: all 1s;
}

.visible {
    opacity: 1;
    transition: all 1s;
}

.contents_box2 > div:first-child > .cont_btn {
    top: 2060px;
    position: absolute;
    width: 200px;
    height: 200px;
}

.contents_box2 > div:first-child > .cont_btn > .link_deposit {
    height: 56px;
    margin-right: 6px;
    border-radius: 10px;
    background-color: #f6f6f6;
    font-size: 15px;
    line-height: 56px; 
    color: #000;
    text-align: center;
}

/* 컨텐츠 1~5 끝 */

/* 체크카드 시작 */

.checkcard1 {
    margin: 0 auto;
    width: 1080px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 150px;
}

.checkcard1 > h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.35;
}

.checkcard1 > p {
    margin-top: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #666;
}

.checkcard1 > .check_btn {
    margin-top: 20px;
}


/* 체크카드 끝 */

/* 체크 슬라이드 시작 */

#checkcard2 {
    margin-top: 80px;
    width: 100%;
    position: relative;
}

#check_slide {
    height: 450px;
    width: 300px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    width: 2000px;
    height: 450px;
    position: absolute;
    transition: all 1s;
    left: 0;
}

.img123 {
    width: 290px;
    height: 445px;
    float: left;
    margin-left: 10px;
    
}


/* 체크 슬라이드 끝 */

/* 체크 슬라이드 버튼 시작 */

#box {
    position: absolute;
    top: 0;
    left: 50%;
    width: 800px;
    height: 450px;
    /* background-color: silver; */
    z-index: 1500;
    display: inline-block;
    text-align: center;
    padding: 0 0 0 200px;
    transform: translateX(-500px);
}

.preview {
    width: 100px;
    height: 100px;
    position: absolute;
    
    font-size: 50px;
    bottom: 200px;
    left: 100px;
    
}

.next {
    width: 100px;
    position: absolute;
    height: 100px;
    font-size: 50px;
    bottom: 200px;
    right: 100px;
}

#pager_wrap {
    position: relative;
    width: 500px;
    height:75px;
    margin: 0 auto;
}

.pager {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.pager span {
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin: 0 30px;
    text-indent: -9999em;
}
.pager span.active {
    background: #333;
}

/* 체크 슬라이드 버튼 끝 */


#footer_wrap {
    position: relative;
    background-color: #eee;
    text-align: center;
    min-width: 1120px;
    height: 200px;
    margin-top: 200px;
}

#footer {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: red;
    height: 200px;
}