* {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

#wrap {
    width: 100%;
    height: 100%;
}

#header_wrap {
    margin: 0 auto;
    width: 1080px;
    height: 80px;
}

#header {
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#logo > a > img {
    width: 116px;
    height: 20px;
}